.img {
    border-radius: 60%;
    border: 1px solid;
    padding: 5px;
    width: 500px;
    height: 800px;
}

body {
    background-color:burlywood;
    text-align: center;
    padding: 50 px;
    border-block-end: coral;
}
nav {
    padding-right: 80 px;
    font-family: inherit;
    color: Green;
    font-size-adjust: 800px;
    
}