.img {
    border-radius: 60%;
    border: 1px solid;
    padding: 5px;
    width: 500px;
    height: 800px;
}

body {
    background-color: blue;
    text-align: center;
    padding: 50 px;
    border-block-end: coral;
}